*{
	padding: 0;
	margin: 0;
}
img{
	border: 0;
}
body{
	background:#f5f5f5 url(images/body-bg.jpg) top repeat-x; font:12px Arial; color:#555; line-height: 1.3;

}
.carcass{
width: 755px; margin:0 auto;
}
header{
	padding: 30px 0 0 0; margin-bottom: 20px;
}
.logo{
	margin:0 auto 20px auto; display:block;
}


nav ul{
	list-style: none; overflow: hidden; 
	border-bottom: 3px solid #9dc5f0;
	border-left: 1px solid #f4f4f4;
	border-top: 1px solid #f4f4f4;
	border-right: 1px solid #f4f4f4;

}
nav ul li{
	float: left; padding: 8px 25px; border-left: 1px solid #f4f4f4;
	
}
nav ul li:first-child{
border-left: none;
}
nav ul li a{
	color: #5f5d67; font-size: 14px; font-weight: bold; text-decoration: none; 
}
nav ul li a:hover{
	text-decoration: underline;
}
.main-content {
	overflow: hidden;
}
.main-content-img{
	margin-bottom: 20px;
}


article{
background: #ffffff; float:left; padding: 30px 30px; width: 420px; 

}
aside{
background: #ffffff; float:right; padding: 30px 10px 30px 30px ; width: 220px; 
}
footer{
padding: 20px 0;
}